.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #004ec2;
    color: #000000;
    height: 120px;  
    margin: 0;
}

.title{
    font-size: 50px;    
}

.home{
    width: 50px;
    height: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_icons{
    margin: 15px;
    text-align: center;
}

.banner_icon{
    width: 50px;
    height: 50px;
}

.banner_icon:hover{
    width: 60px;
    height: 60px;
    color: #ffffff;
}

.banner_text{
    margin: 0;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.main {
    padding: 0;
    margin: 0;
    background-color: #8bb0ff;
    min-height: calc(100vh - 120px);
  }
  
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.479);
    padding: 20px;
    margin-top: 120px;
    background-color: #004050;
    width: 350px;
  }
  
  .card-header {
    background-color: #008cff31;
    color: rgb(255, 255, 255);
    padding: 1px;
    text-align: center;
  }
  
  /* Estilos para el formulario */
  .form-control {
    border-radius: 5px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background-color: #1d00c25b;
  }
  
  .form-label {
    font-weight: bold;
    color: #ffffff;
  }

  .btn-primary {
    background-color: #1d00c25b;
    color: #ffffff;
    border: none;
    padding: 0.75rem;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #004688;
    color: #000000;
  }

/* Estilos para el reloj y fecha */
.datetime-container {
  margin: 10px 0;
  color: rgb(255, 255, 255);
  text-align: center;
}

.clock {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5px;
  color: #ffffff;
}

.text-muted {
  opacity: 0.8;
}
