<section>
    <header class="header">
        <div class="container"> 
          <div class="banner_icons">
            <a href=""><img src="assets/casa.png" alt="" class="banner_icon"></a>
            <a href=""><p class="banner_text">Inicio</p></a>
          </div>
          <div class="banner_icons">
            <a href=""><img src="assets/cuenta.png" alt="" class="banner_icon"></a>
            <a href=""><p class="banner_text">Iniciar Sesion</p></a>
          </div>
        </div>
        <div class="title">
          <h4>Sistema Gestor de Obras</h4>
        </div>
      </header>
</section>